# 源代碼
src/

# 配置文件
.eslintrc
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
rollup.config.js
postcss.config.js
tailwind.config.js
jest.config.js

# 構建工具輸出
coverage/
node_modules/

# 開發用文件
examples/
.github/
.vscode/
.idea/
.DS_Store

# 其他文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git 相關
.git
.gitignore 